<!DOCTYPE html>
<html lang="es">
<head>
    <meta >
    <meta >
    <title>Error</title>
</head>
<body>
    <div>
        <h1 style="color: red;">Error</h1>
        {{#if message}}
            <p>Se ha producido un error:</p>
            <p >{{message}}</p>
        {{else}}
            <p>Error desconocido.</p>
        {{/if}}
        <a href="/">Volver al inicio</a>
    </div>
</body>
</html>
