<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página Principal</title>
    <link rel="stylesheet" href="/CSS/Style.CSS">
</head>

<body>

    <h2>Bienvenido al Home</h2>

    <div class="create-cart-section">
        <h3>Crear Nuevo Carrito</h3>
        <p>Utiliza esta función para iniciar una nueva sesión de compra. Se generará un ID único.</p>

        <form action="/home/create-cart" method="POST">
            <button type="submit" class="btn-link-style">Crear Mi Carrito Ahora</button>
        </form>
    </div>

    <div class="mt-5">
        <h3>Explorar</h3>
        <ul>
            <li><a href="/products">Ver Catálogo de Productos</a></li>
        </ul>
    </div>
    <div>
        <h3> Ver todos los carritos</h3>
          <a href="/carts">Ver Todos los Carritos</a>
    </div>


</body>

</html>